nav {
 width: 100%;
 ul {
    list-style: none;
  
    li{
     width: 100px;
     display: inline-block;  

    }

 }  

}

header h1 {
  width: 100px;
  height: 100px;
  background-color: rgb(187, 255, 0);

}